./data/mergedData8.csv
./data/mergedData9.csv

./results.csv
./results_pivot_8_RandomForest.csv
./results_pivot_8_AdaBoost.csv
./results_pivot_8_GradientBoost.csv

./results_pivot_9_RandomForest.csv
./results_pivot_9_AdaBoost.csv
./results_pivot_9_GradientBoost.csv